.cards-cont{
  margin-bottom: 20px; ////
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  .card{
    @media all and(hover: none){
      height: auto !important;
    }
    @media all and(min-width: $wrapper){
      height: $wrapper/100*33;
    }
    height: 33vw;
    display: flex;
    align-items: flex-end;
    border-radius: 15px;
    padding: 10px;
    background-size: cover;
    background-position: center;
    &:hover{
      .container{
        opacity: 1;
      }
    }
    .container{
      @media all and(hover){
        opacity: 0;
        height: 100%;
      }
      background: #fff;
      transition: .15s;
      border-radius: 5px;
      display: flex;
      flex-flow: column;
      justify-content: flex-end;
      padding: 30px 35px;
      letter-spacing: 0.2px;
      .arrow{
        @media all and(hover: none){
          margin-bottom: -4px;
        }
        margin: 0 0 auto auto;
        padding-top: 8px;
        div{
          position: relative;
          &::after, &::before{
            content: '';
            top: 0;
            right: 0;
          }
          &::after{
            @media all and(hover: none){
              height: 3px;
              width: 15.75px;
            }
            height: 4px;
            width: 21px;
          }
          &::before{
            @media all and(hover: none){
              width: 3px;
              height: 15.75px;
            }
            width: 4px;
            height: 21px;
          }
          span{
            @media all and(hover: none){
              height: 3px;
              width: 21px;
            }
            top: -1px;
            right: 1px;
            height: 4px;
            width: 28px;
            transform: rotate(-45deg);
            transform-origin: 100% 50%;
          }
          &::after, &::before, span{
            position: absolute;
            background: #000;
            border-radius: 100vmax;
          }
        }
      }
      .content{
        span{
          margin-bottom: 0.3125em;
          color: #757575;
          line-height: 1.75;
        }
        h3{
          font-size: 1.25em;
          line-height: 1.4;
          color: #000;
          background-image: url();
        }
      }
    }
  }
}